@import "swiper-bundle.min.css";
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.hidden {
  display: none !important;
}

body {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  font-family: "NunitoSans";
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 15.63%, rgba(0, 0, 0, 0) 81.77%, rgba(0, 0, 0, 0.3) 100%), #252B4F;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-anchor: none;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.content > div {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.popups {
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100%;
  background: #00000060;
  opacity: 0;
  top: -100%;
  transition: opacity 0.2s ease-in-out, top 0s 0.2s;
}
.popups.active {
  top: 0;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.title-1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.title-1__green {
  color: #97dc52;
}

.video-play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: none;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
.video-play-btn path:first-child {
  transition: fill 0.2s ease-in-out;
}
.video-play-btn:hover {
  opacity: 1;
}
.video-play-btn:hover path:first-child {
  fill: #FF0000;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

input {
  border: 1.5px solid transparent;
  transition: all 0.2s ease-in-out;
}
input:focus {
  border-color: #97DC52;
}
input._error {
  border-color: #E23A58;
}

.select {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.select.active .select__main {
  padding: 10px;
  max-height: 312px;
}
.select.active .select__arrow {
  transform: rotateX(180deg);
}
.select__block {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
}
.select__current {
  display: inline-block;
  max-width: calc(100% - 25px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
}
.select__arrow {
  transition: all 0.2s ease-in-out;
}
.select__main {
  min-width: 280px;
  position: absolute;
  z-index: 50;
  top: 100%;
  left: 0;
  background: #4E5AC0;
  border-radius: 4px;
  padding: 0 10px;
  max-height: 0;
  overflow: auto;
  scrollbar-width: 2px;
  scrollbar-color: #ffffff;
  transition: max-height 0.2s ease-in-out, padding 0.2s ease-in-out;
}
.select__main::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
  border-radius: 2px;
}
.select__main::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 2px;
}
.select__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.select__item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3px 13px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #F6F6FE;
  border-radius: 4px;
  cursor: pointer;
}
.select__item.active {
  background: rgba(0, 0, 0, 0.2);
}
.select__item:hover {
  background: rgba(0, 0, 0, 0.2);
}
.select__count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select__count:not(:first-of-type) {
  margin-top: 8px;
}
.select__count > span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
}
.select__count-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.select__count-block > button {
  width: 32px;
  min-width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
}
.select__count-block > button:hover {
  background: rgba(255, 255, 255, 0.4);
}
.select__count-block > span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
}

._video {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "NunitoSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "NunitoSans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  -webkit-user-select: none;
          user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  background: #323967;
  white-space: nowrap;
}
.header__row {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__logo {
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__phone {
  margin-right: 35px;
}
.header__phone-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #ffffff80;
}
.header__phone-link {
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
}
.header__contact {
  min-width: 200px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6487EB;
  border-radius: 10px;
  font-size: 17px;
  color: #ffffff;
  transition: background 0.2s ease-in-out;
}
.header__contact img {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  margin-right: 10px;
}
.header__contact:hover {
  background: #8DAAFE;
}

.nav {
  background: #4E5AC0;
  white-space: nowrap;
}
.nav__list {
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.nav__item {
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__link {
  font-size: 17px;
  font-weight: 600;
  color: #ffffff85;
  transition: all 0.2s ease-in-out;
}
.nav__link:hover {
  color: #ffffff;
}

.dropdown__block {
  display: flex;
  background: #404A9B;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  top: 100%;
  overflow: hidden;
  z-index: -1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, z-index 0s 0.3s;
}
.dropdown__block-large {
  max-width: 100%;
  right: 0;
}
.dropdown__list {
  display: flex;
  flex-direction: column;
}
.dropdown__list:nth-child(2) {
  margin-left: 100px;
}
.dropdown__list:nth-child(n+2) {
  margin-right: 100px;
}
.dropdown__link {
  display: flex;
  align-items: center;
  min-height: 0;
  height: 0;
  overflow: hidden;
  min-width: 200px;
  padding: 0 20px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  color: #ffffff85;
  transition: all 0.2s ease-in-out;
}
.dropdown__link:hover {
  color: #ffffff;
}
.dropdown:hover > .dropdown__block {
  z-index: 40;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.dropdown:hover .dropdown__link {
  max-height: 48px;
  height: 48px;
}

.footer-message {
  background: #404A9B;
}
.footer-message__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 15px;
}
.footer-message__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-message__block {
  margin-left: 20px;
}
.footer-message__title {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer-message__content {
  font-size: 17px;
  font-weight: 600;
  color: #ffffff80;
}
.footer-message__right {
  position: relative;
  width: 470px;
  min-width: 470px;
  height: 48px;
}
.footer-message__right input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  padding: 14px 217px 14px 17px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.footer-message__right input:placeholder {
  color: #ffffff40;
}
.footer-message__right button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  background: #6487EB;
  border-radius: 10px;
  transition: background 0.2s ease-in-out;
}
.footer-message__right button:hover {
  background: #8DAAFE;
}

.footer {
  background: #323967;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0 45px;
}
.footer__left {
  flex-grow: 1;
  margin-right: 30px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.footer__phone-title {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-bottom: 5px;
}
.footer__phone-link {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
}
.footer__callback-btn {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 22px;
  background: #4EB012;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.footer__callback-btn:hover {
  background: #97DC52;
  box-shadow: 0px 0px 5px #97DC52;
}
.footer__social-title {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-bottom: 10px;
}
.footer__social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__social-link {
  width: 24px;
  min-width: 24px;
  height: 24px;
}
.footer__social-link:not(:last-of-type) {
  margin-right: 40px;
}
.footer__right {
  width: 470px;
  min-width: 470px;
  border-left: 2px solid #ffffff10;
  padding-left: 20px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 15px;
}
.footer__item {
  min-width: 200px;
  margin-bottom: 3px;
}
.footer__link {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff85;
  transition: color 0.2s ease-in-out;
}
.footer__link:hover {
  color: #ffffff;
}

.popup-callback {
  position: absolute;
  right: 0;
  height: 100%;
  width: 416px;
  max-width: 100%;
  background: #404A9B;
  padding: 20px 0;
  overflow: hidden;
  transform: translateX(101%);
  transition: transform 0.3s ease-in-out;
}
.popup-callback.active {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out 0.2s;
}
.popup-callback__close {
  text-align: right;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.popup-callback__tabs {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}
.popup-callback__tab {
  flex-grow: 1;
  cursor: pointer;
}
.popup-callback__tab span {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #ffffff;
  padding: 10px 20px;
  border-bottom: 3px solid #ffffff10;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}
.popup-callback__tab input[type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  left: -100vw;
}
.popup-callback__tab input[type=radio]:checked + span {
  border-color: #84CF61;
}
.popup-callback__block {
  position: relative;
}
.popup-callback__tab-content {
  padding: 0 30px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.popup-callback__tab-content:first-of-type {
  opacity: 0;
  transform: translate(-100%);
}
.popup-callback__tab-content:last-of-type {
  opacity: 0;
  transform: translate(100%);
}
.popup-callback__tab-content.active {
  opacity: 1;
  transform: none;
}
.popup-callback__content {
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  color: #ffffff85;
  margin-bottom: 30px;
}
.popup-callback__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.popup-callback__form input {
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
}
.popup-callback__form input::placeholder {
  color: #ffffff40;
}
.popup-callback__form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  background: #4EB012;
  border-radius: 10px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
}
.popup-callback__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.popup-callback__item {
  margin-bottom: 30px;
}
.popup-callback__link {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
}
.popup-callback__link img {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 20px;
}

.popup-thanks {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 900px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(104.27deg, #6487EB 0%, #4B71F4 94.33%);
  border-radius: 10px;
  opacity: 0;
  transform: translate(-50%, -50%) translateX(100vw);
}
.popup-thanks.active {
  transform: translate(-50%, -50%) translateX(0);
  opacity: 1;
}
.popup-thanks__close {
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(100% + 10px);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
}
.popup-thanks__close:hover {
  background: rgba(255, 255, 255, 0.6);
}
.popup-thanks__icon {
  width: 100px;
  height: 100px;
  margin-bottom: 35px;
}
.popup-thanks__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.popup-thanks__title {
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}
.popup-thanks__content {
  font-size: 22px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.pick-up {
  background: #404A9B;
}
.pick-up__top {
  border-top: 2px solid #404A9B;
  border-bottom: 2px solid #ffffff10;
}
.pick-up__tabs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.pick-up__tabs > input {
  position: absolute;
  left: -100vw;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.pick-up__tabs > input:checked + label::after {
  opacity: 1;
}
.pick-up__tabs > input:nth-of-type(1) + label:hover {
  background: #404A9B50;
}
.pick-up__tabs > input:nth-of-type(2) + label:hover {
  background: #5D80ED50;
}
.pick-up__tabs > input:nth-of-type(1):checked + label {
  background: #404A9B;
}
.pick-up__tabs > input:nth-of-type(2):checked + label {
  background: #5D80ED;
}
.pick-up__tab {
  position: relative;
  width: 50%;
  height: 48px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.pick-up__tab::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  height: 2px;
  width: 100%;
  background: #97DC52;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.pick-up__tab:hover::after {
  opacity: 0.5;
}
.pick-up__tab img {
  margin-right: 10px;
}
.pick-up__main {
  height: 110px;
}
.pick-up__items {
  position: relative;
  height: 100%;
}
.pick-up__container {
  position: relative;
  height: 100%;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pick-up__item {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
}
.pick-up__item:first-of-type {
  transform-origin: left;
  background: #404A9B;
}
.pick-up__item:last-of-type {
  transform-origin: right;
  background: #5D80ED;
}
.pick-up__item.active {
  opacity: 1;
  transform: none;
}
.pick-up__item-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
.pick-up__item-block.active {
  transform: none;
}
.pick-up__item-block:first-of-type {
  transform-origin: left;
}
.pick-up__item-block:last-of-type {
  transform-origin: right;
}
.pick-up__item-left {
  margin-right: 20px;
}
.pick-up__item-title {
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.pick-up__item-content {
  display: inline-flex;
  align-items: center;
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff80;
}
.pick-up__item-content > span {
  display: inline-flex;
  align-items: center;
}
.pick-up__item-content > span > img {
  margin-right: 10px;
  max-width: 16px;
  max-height: 16px;
}
.pick-up__item-content > span.important {
  color: #FFCD4B;
}
.pick-up__item-content > span:not(:last-of-type)::after {
  margin-left: 5px;
  margin-right: 5px;
  content: "|";
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff80;
}
.pick-up__edit-btn {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.pick-up__edit-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.pick-up__edit {
  height: 48px;
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
}
.pick-up__block {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.pick-up__block:not(:first-of-type) .pick-up__select {
  border-left: 1px solid #ffffff10;
}
.pick-up__select {
  background: transparent;
  border-radius: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.pick-up__submit {
  width: 20%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  background: #4EB012;
  font-size: 17px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.pick-up__submit:hover {
  background: #97DC52;
  box-shadow: 0px 0px 5px #97DC52;
}
.pick-up__title {
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
  max-width: 850px;
  position: relative;
  z-index: 1;
}
.pick-up__button {
  height: 48px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #4EB012;
  font-size: 17px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.pick-up__button:hover {
  background: #97DC52;
  box-shadow: 0px 0px 5px #97DC52;
}
.pick-up__back {
  position: absolute;
  right: 100px;
  bottom: 0;
  max-height: 90%;
}

.popup-pick-up {
  position: absolute;
  width: 900px;
  height: 520px;
  display: flex;
  flex-direction: column;
  margin: calc((100vh - 520px)/2) calc((100vw - 900px)/2);
  background: linear-gradient(104.27deg, #6487EB 0%, #4B71F4 94.33%);
  border-radius: 10px;
  opacity: 0;
  transform: translateX(100vw);
}
.popup-pick-up.active {
  transform: translateX(0);
  opacity: 1;
}
.popup-pick-up__close {
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(100% + 10px);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
}
.popup-pick-up__close:hover {
  background: rgba(255, 255, 255, 0.6);
}
.popup-pick-up__top {
  min-height: 60px;
  height: 60px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-pick-up__content {
  font-size: 17px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
}
.popup-pick-up__steps {
  font-size: 17px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
}
.popup-pick-up__line {
  position: relative;
  min-height: 2px;
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.popup-pick-up__line_curr {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  background: #97DC52;
  transition: width 0.2s ease-in-out;
}
.popup-pick-up__quiz {
  margin: 35px 30px;
  flex-grow: 1;
  position: relative;
}
.popup-pick-up__question {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  display: none;
}
.popup-pick-up__question.active {
  display: block;
}
.popup-pick-up__question-title {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.popup-pick-up__question-comment {
  display: inline-block;
  padding: 6px 8px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  font-size: 17px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff85;
  margin-bottom: 20px;
}
.popup-pick-up__question-comment + .popup-pick-up__question-main {
  max-height: 218px;
}
.popup-pick-up__question-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  max-height: 270px;
  width: 100%;
}
.popup-pick-up__question-block {
  min-height: 40px;
  width: calc(50% - 20px);
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.popup-pick-up__question-radio {
  display: inline-block;
  position: relative;
  padding-left: 34px;
  cursor: pointer;
}
.popup-pick-up__question-radio input {
  position: absolute;
  left: -100vw;
  width: 0;
  height: 0;
  opacity: 0;
}
.popup-pick-up__question-radio input:checked + span::before {
  background: #97DC52;
}
.popup-pick-up__question-radio input:checked + span::after {
  border-color: #97DC52;
}
.popup-pick-up__question-radio span {
  font-size: 18px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
}
.popup-pick-up__question-radio span::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 4px solid transparent;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
.popup-pick-up__question-radio span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff60;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
.popup-pick-up__question-radio:hover > span::before {
  background: #97DC5250;
}
.popup-pick-up__question-radio:hover > span::after {
  border-color: #97DC5250;
}
.popup-pick-up__question-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 34px;
  cursor: pointer;
}
.popup-pick-up__question-checkbox input {
  position: absolute;
  left: -100vw;
  width: 0;
  height: 0;
  opacity: 0;
}
.popup-pick-up__question-checkbox input:checked + span::before {
  opacity: 1;
}
.popup-pick-up__question-checkbox input:checked + span::after {
  border-color: #97DC52;
}
.popup-pick-up__question-checkbox span {
  font-size: 18px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
}
.popup-pick-up__question-checkbox span::before {
  content: url("../img/icons/check.svg");
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
  width: 16px;
  height: 16px;
  background: transparent;
  opacity: 0;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.popup-pick-up__question-checkbox span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 2px solid #ffffff60;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
.popup-pick-up__question-checkbox:hover > span::before {
  opacity: 0.5;
}
.popup-pick-up__question-checkbox:hover > span::after {
  border-color: #97DC5250;
}
.popup-pick-up__question-text {
  width: 400px;
  display: inline-block;
}
.popup-pick-up__question-text input {
  width: 100%;
  height: 48px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
}
.popup-pick-up__question-text input::placeholder {
  color: #ffffff40;
}
.popup-pick-up__buttons {
  display: flex;
  justify-content: flex-end;
  margin: auto 30px 30px auto;
}
.popup-pick-up__prev {
  width: 195px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
  border: 1.5px solid rgba(255, 255, 255, 0.6);
  background: transparent;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.popup-pick-up__prev:hover {
  background: #8DAAFE50;
}
.popup-pick-up__next {
  width: 195px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
  margin-left: 10px;
  background: #4EB012;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.popup-pick-up__next:hover {
  background: #97DC52;
  box-shadow: 0px 0px 5px #97DC52;
}

.popup-pick-up-thanks {
  position: absolute;
  width: 900px;
  height: 520px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: calc((100vh - 520px)/2) calc((100vw - 900px)/2);
  background: linear-gradient(104.27deg, #6487EB 0%, #4B71F4 94.33%);
  border-radius: 10px;
  opacity: 0;
  transform: translateX(100vw);
}
.popup-pick-up-thanks.active {
  transform: translateX(0);
  opacity: 1;
}
.popup-pick-up-thanks__close {
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(100% + 10px);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
}
.popup-pick-up-thanks__close:hover {
  background: rgba(255, 255, 255, 0.6);
}
.popup-pick-up-thanks__icon {
  width: 80px;
  height: 80px;
  margin-bottom: 35px;
}
.popup-pick-up-thanks__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.popup-pick-up-thanks__title {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}
.popup-pick-up-thanks__content {
  font-size: 17px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-bottom: 35px;
}
.popup-pick-up-thanks__form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.popup-pick-up-thanks__block {
  width: 250px;
  margin: 0 10px 20px;
}
.popup-pick-up-thanks__block input {
  width: 100%;
  height: 48px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
}
.popup-pick-up-thanks__block input::placeholder {
  color: #ffffff40;
}
.popup-pick-up-thanks__submit {
  width: 250px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4EB012;
  border-radius: 10px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
  margin: 0 50px;
}

.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.breadcrumbs__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.breadcrumbs__item:not(:first-of-type) {
  margin-left: 6px;
}
.breadcrumbs__item:not(:first-of-type)::before {
  content: "/";
  padding-right: 7px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #7383C5;
}
.breadcrumbs__item:last-of-type > .breadcrumbs__link {
  color: #ffffff;
}
.breadcrumbs__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #7383C5;
  transition: all 0.2s ease-in-out;
}
.breadcrumbs__link:hover {
  color: #ffffff;
}

.main-content {
  position: relative;
  z-index: 10;
  max-width: 1170px;
  padding: 30px;
  background: #373F80;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.catalog-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.catalog-main__aside {
  width: 220px;
  max-width: 220px;
  min-width: 220px;
}
.catalog-main__main {
  width: 840px;
  max-width: 840px;
  min-width: 840px;
  margin-bottom: 40px;
}
.catalog-main__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.catalog-main__title {
  margin-bottom: 0;
}
.catalog-main__switch-btn {
  padding: 7px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6487EB;
  border-radius: 10px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  transition: all 0.2s ease-in-out;
}
.catalog-main__switch-btn img {
  margin-right: 10px;
}
.catalog-main__switch-btn:hover {
  background: #8DAAFE;
}
.catalog-main__empty {
  margin-bottom: 30px;
}
.catalog-main__empty-content {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
}
.catalog-main__sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.catalog-main__sort-content {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff60;
}
.catalog-main__sort-item label {
  margin-left: 23px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.catalog-main__sort-item label:hover {
  color: #97DC52;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.catalog-main__sort-item input {
  position: absolute;
  left: -100vw;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.catalog-main__sort-item input:checked + label {
  color: #97DC52;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.catalog-main__consultation {
  padding: 20px;
  margin-bottom: 30px;
  background: linear-gradient(104.27deg, #6487EB 0%, #4B71F4 94.33%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-main__consultation-image {
  position: relative;
  min-height: 112px;
  min-width: 166px;
  border-radius: 10px;
  overflow: hidden;
}
.catalog-main__consultation-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.catalog-main__consultation-main {
  padding: 0 30px;
}
.catalog-main__consultation-title {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.catalog-main__consultation-content {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  white-space: normal;
}
.catalog-main__consultation-input {
  display: block;
  height: 48px;
  width: 228px;
  min-width: 228px;
  border-radius: 10px;
  background: #00000020;
  padding: 8px 12px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 16px;
}
.catalog-main__consultation-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 228px;
  min-width: 228px;
  border-radius: 10px;
  background: #4EB012;
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.catalog-main__consultation-submit:hover {
  background: #97DC52;
  box-shadow: 0px 0px 5px #97DC52;
}
.catalog-main__subscribe {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 25px 20px 25px;
  background: linear-gradient(104.27deg, #6487EB 0%, #4B71F4 94.33%);
  border-radius: 10px;
}
.catalog-main__subscribe::before {
  content: url("../img/consultation/paper-plane.svg");
  position: absolute;
  bottom: 0;
  right: 40px;
}
.catalog-main__subscribe-image {
  position: relative;
  margin-right: 20px;
}
.catalog-main__subscribe-main {
  position: relative;
}
.catalog-main__subscribe-title {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.catalog-main__subscribe-content {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-bottom: 10px;
}
.catalog-main__subscribe-button {
  padding: 10px 32px;
  background: #ffffff;
  border-radius: 10px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #3D92F5;
  transition: all 0.2s ease-in-out;
}
.catalog-main__subscribe-button:hover {
  background: #97DC52;
  box-shadow: 0px 0px 5px #97DC52;
  color: #FFFFFF;
}

.filters__title {
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.filters__block {
  margin-bottom: 10px;
}
.filters__block + .filters__title {
  margin-top: 30px;
}
.filters__block-prices {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 4px;
  display: flex;
  align-items: center;
}
.filters__block-prices::after {
  content: "";
  background: #ffffff10;
  width: 2px;
  height: calc(100% - 8px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.filters__block-prices label {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 3px 12px 2px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
}
.filters__block-prices input[type=number] {
  position: relative;
  -moz-appearance: textfield;
  background: transparent;
  display: inline-block;
  max-width: 60px;
  margin-left: 10px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
}
.filters__block-prices input[type=number]::placeholder {
  color: #ffffff40;
}
.filters__block-prices input[type=number]::-webkit-outer-spin-button, .filters__block-prices input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.filters__block input[type=checkbox] {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  left: -100vw;
  visibility: hidden;
}
.filters__block input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  cursor: pointer;
}
.filters__block input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 2px solid #ffffff60;
  transition: opacity 0.2s ease-in-out;
}
.filters__block input[type=checkbox] + label::after {
  content: url("../img/icons/check.svg");
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 2;
  display: block;
  width: 18px;
  height: 18px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.filters__block input[type=checkbox] + label:hover::before {
  opacity: 0;
}
.filters__block input[type=checkbox] + label:hover::after {
  opacity: 0.6;
}
.filters__block input[type=checkbox]:checked + label::before {
  opacity: 0;
}
.filters__block input[type=checkbox]:checked + label::after {
  opacity: 1;
}
.filters__select {
  height: 48px;
  width: 100%;
}

.item {
  margin-bottom: 30px;
  background: #404A9B;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.item__main {
  padding: 20px;
  display: flex;
}
.item__main + .item__bottom {
  border-top: 3px solid #373F80;
}
.item__left {
  width: 32.71%;
  min-width: 32.71%;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
}
.item__images {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.item__images .swiper-wrapper {
  align-items: center;
}
.item__images > span {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  left: 10px;
  display: inline-block;
  padding: 4px 10px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
  background: #4F75FC;
}
.item__images > span.popular {
  background: #D92C4B;
}
.item__images > span.important {
  background: #E3871B;
}
.item__images > span.econom {
  background: #68A41D;
}
.item__images > span.travel {
  background: #6E51D9;
}
.item__images > span.note {
  background: #4F75FC;
}
.item__image {
  display: block;
}
.item__image img {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
}
.item__arrow {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.item__arrow-left {
  left: 10px;
}
.item__arrow-right {
  right: 10px;
}
.item__right {
  flex-grow: 1;
}
.item__title {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  margin-bottom: 7px;
}
.item__title > a {
  color: #ffffff;
}
.item__desc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item__address {
  min-width: 50%;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-bottom: 10px;
}
.item__address span {
  display: inline-block;
}
.item__address span:not(:last-of-type) {
  margin-right: 15px;
}
.item__replies {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-bottom: 10px;
}
.item__replies > a {
  color: #ffffff;
}
.item__desc-info {
  min-width: 50%;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
}
.item__desc-info span {
  display: inline-block;
  background: #4E5AC0;
  border-radius: 5px;
  padding: 1.5px 10px;
}
.item__rating {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  padding: 1px 10px;
}
.item__rating img {
  margin-right: 7px;
  max-width: 15px;
  max-height: 20px;
}
.item__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
}
.item__list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 48%;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-top: 10px;
}
.item__list-item:nth-of-type(2n+1) {
  margin-right: 4%;
}
.item__icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-right: 10px;
}
.item__info {
  background: #373F80;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.item__info + .item__info {
  border-top: 3px solid #404A9B;
}
.item__info-block {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-right: 25px;
}
.item__info-block img {
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-right: 10px;
}
.item__info-block_important {
  color: #FFCD4B;
}
.item__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.item__prices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item__price {
  margin-right: 20px;
}
.item__price:not(:first-of-type) {
  padding-left: 20px;
  border-left: 2px solid #C4C4C440;
}
.item__price-title {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 2px;
}
.item__price-title > span {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
}
.item__price-content {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff80;
}
.item__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.item__link {
  height: 40px;
  width: 150px;
  min-width: 150px;
  margin-left: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  background: #6487EB;
  transition: all 0.2s ease-in-out;
}
.item__link:hover {
  background: #8DAAFE;
}
.item__button {
  height: 40px;
  width: 150px;
  min-width: 150px;
  margin-left: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  background: #4EB012;
  transition: all 0.2s ease-in-out;
}
.item__button:hover {
  background: #97DC52;
  box-shadow: 0px 0px 5px #97DC52;
}
.item.item-great .item__rating {
  background: #119E5B;
}
.item.item-verygood .item__rating {
  background: #68A41D;
}
.item.item-good .item__rating {
  background: #AEA817;
}
.item.item-bad .item__rating {
  background: #CD7713;
}
.item.item-verybad .item__rating {
  background: #D92C4B;
}

.consultation {
  margin-bottom: 30px;
}
.consultation__row {
  padding: 30px;
  background: linear-gradient(104.27deg, #6487EB 0%, #4B71F4 94.33%);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.consultation__image {
  position: relative;
  width: 270px;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 25px;
}
.consultation__image img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.consultation__main {
  flex-grow: 1;
}
.consultation__title {
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}
.consultation__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}
.consultation__input {
  width: calc((100% - 40px) / 3);
  height: 48px;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
}
.consultation__input::placeholder {
  color: #ffffff40;
}
.consultation__submit {
  width: calc((100% - 40px) / 3);
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4EB012;
  border-radius: 10px;
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.consultation__submit:hover {
  background: #97DC52;
  box-shadow: 0px 0px 5px #97DC52;
}
.consultation__phones {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.consultation__phone {
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
}
.consultation__phone-link {
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
}
.consultation__phone-content {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
}

.pagination {
  margin: 30px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__link {
  min-width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.pagination__link:not(.active, .disabled, .inactive):hover {
  background: rgba(255, 255, 255, 0.1);
}
.pagination__link.active {
  background: #7383C5;
}
.pagination__link.disabled {
  cursor: default;
  opacity: 0.1;
}