@font-face {
  font-family: "NunitoSans";
  src: local("Nunito Sans Bold"), local("NunitoSans-Bold"), url("../fonts/Nunitosansbold.woff2") format("woff2"), url("../fonts/Nunitosansbold.woff") format("woff"), url("../fonts/Nunitosansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: local("Nunito Sans SemiBold"), local("NunitoSans-SemiBold"), url("../fonts/Nunitosanssemibold.woff2") format("woff2"), url("../fonts/Nunitosanssemibold.woff") format("woff"), url("../fonts/Nunitosanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.hidden {
  display: none !important;
}

body {
  width: 100%;
  font-family: "NunitoSans";
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 15.63%, rgba(0, 0, 0, 0) 81.77%, rgba(0, 0, 0, 0.3) 100%), #252B4F;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-anchor: none;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.content > div {
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title-1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.title-1__green {
  color: #97dc52;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "NunitoSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "NunitoSans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  -webkit-user-select: none;
          user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  background: #323967;
  white-space: nowrap;
}
.header__row {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__logo {
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__phone {
  margin-right: 35px;
}
.header__phone-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #ffffff80;
}
.header__phone-link {
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
}
.header__contact {
  min-width: 200px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6487EB;
  border-radius: 10px;
  font-size: 17px;
  color: #ffffff;
  transition: background 0.2s ease-in-out;
}
.header__contact img {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  margin-right: 10px;
}
.header__contact:hover {
  background: #8DAAFE;
}

.nav {
  background: #4E5AC0;
  white-space: nowrap;
}
.nav__list {
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__item {
  padding: 0 10px;
}
.nav__link {
  font-size: 17px;
  font-weight: 600;
  color: #ffffff85;
}

.footer-message {
  background: #404A9B;
}
.footer-message__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 15px;
}
.footer-message__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-message__block {
  margin-left: 20px;
}
.footer-message__title {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer-message__content {
  font-size: 17px;
  font-weight: 600;
  color: #ffffff80;
}
.footer-message__right {
  position: relative;
  width: 470px;
  min-width: 470px;
  height: 48px;
}
.footer-message__right input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  padding: 14px 217px 14px 17px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.footer-message__right input:placeholder {
  color: #ffffff40;
}
.footer-message__right button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  background: #6487EB;
  border-radius: 10px;
  transition: background 0.2s ease-in-out;
}
.footer-message__right button:hover {
  background: #8DAAFE;
}

.footer {
  background: #323967;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0 45px;
}
.footer__left {
  flex-grow: 1;
  margin-right: 30px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.footer__phone-title {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-bottom: 5px;
}
.footer__phone-link {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
}
.footer__callback-btn {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 22px;
  background: #4EB012;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.footer__callback-btn:hover {
  background: #97DC52;
  box-shadow: 0px 0px 5px #97DC52;
}
.footer__social-title {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-bottom: 10px;
}
.footer__social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__social-link {
  width: 24px;
  min-width: 24px;
  height: 24px;
}
.footer__social-link:not(:last-of-type) {
  margin-right: 40px;
}
.footer__right {
  width: 470px;
  min-width: 470px;
  border-left: 2px solid #ffffff10;
  padding-left: 20px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 15px;
}
.footer__item {
  min-width: 200px;
  margin-bottom: 3px;
}
.footer__link {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff85;
  transition: color 0.2s ease-in-out;
}
.footer__link:hover {
  color: #ffffff;
}

.main-screen {
  position: relative;
  width: 100%;
  height: calc(100vh - 128px);
}
.main-screen__image {
  position: absolute;
  width: 100%;
  height: calc(100% + 128px);
  overflow: hidden;
}
.main-screen__image img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
}
.main-screen__container {
  position: relative;
  z-index: 5;
}
.main-screen__slide-down {
  position: absolute;
  z-index: 6;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: transparent;
}

.main-content {
  position: relative;
  z-index: 10;
  max-width: 1170px;
  padding: 50px 30px 30px;
  background: #373F80;
  border-radius: 10px;
  margin-bottom: 30px;
}

.main-video {
  margin-bottom: 60px;
}
.main-video__title span {
  display: block;
}
.main-video__items {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.main-video__item {
  width: calc(50% - 15px);
}
.main-video__video {
  height: 100%;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}
.main-video__video > * {
  max-width: 100%;
  max-height: 100%;
}
.main-video__content {
  font-size: 17px;
  line-height: 27px;
  color: #ffffff80;
}
.main-video__content:not(:first-of-type) {
  margin-top: 40px;
}

.main-categories {
  margin-bottom: 55px;
}
.main-categories__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.main-categories__items-6 .main-categories__item:nth-of-type(5) {
  grid-column-start: span 2;
}
.main-categories__items-6 .main-categories__item:nth-of-type(6) {
  grid-column-start: span 2;
}
.main-categories__items-7 .main-categories__item:nth-of-type(7) {
  grid-column-start: span 2;
}
.main-categories__items-8 .main-categories__item:nth-of-type(5) {
  grid-column-start: span 2;
}
.main-categories__items-8 .main-categories__item:nth-of-type(6) {
  grid-column-start: span 2;
}
.main-categories__items-8 .main-categories__item:nth-of-type(7) {
  grid-column-start: span 2;
}
.main-categories__items-8 .main-categories__item:nth-of-type(8) {
  grid-column-start: span 2;
}
.main-categories__items-9 .main-categories__item:nth-of-type(7) {
  grid-column-start: span 2;
}
.main-categories__items-9 .main-categories__item:nth-of-type(8) {
  grid-column-start: span 2;
}
.main-categories__items-9 .main-categories__item:nth-of-type(9) {
  grid-column-start: span 2;
}
.main-categories__item {
  position: relative;
  min-height: 185px;
  border: 2px solid #404A9B;
  overflow: hidden;
  border-radius: 10px;
}
.main-categories__item-big {
  grid-row-start: span 2;
  grid-column-start: span 2;
}
.main-categories__item-large {
  grid-column-start: span 2;
}
.main-categories__item-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
.main-categories__item-name {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(198.28deg, rgba(62, 66, 100, 0.46) 11.96%, rgba(121, 124, 150, 0.15) 38.87%, rgba(9, 9, 9, 0.51) 65.82%, rgba(9, 9, 9, 0.8) 87.59%);
}

.main-items {
  margin-bottom: 60px;
}
.main-items__button {
  min-width: 300px;
  width: 300px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6487EB;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  transition: background 0.2s ease-in-out;
}
.main-items__button:hover {
  background: #8DAAFE;
}

.item {
  margin-bottom: 30px;
  background: #404A9B;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.item__main {
  padding: 20px;
  display: flex;
}
.item__main + .item__bottom {
  border-top: 3px solid #373F80;
}
.item__left {
  width: 32.71%;
  min-width: 32.71%;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
}
.item__image {
  display: block;
}
.item__image img {
  max-width: 100%;
}
.item__right {
  flex-grow: 1;
}
.item__title {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  margin-bottom: 7px;
}
.item__title > a {
  color: #ffffff;
}
.item__desc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item__address {
  min-width: 50%;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-bottom: 10px;
}
.item__address span {
  display: inline-block;
}
.item__address span:not(:last-of-type) {
  margin-right: 15px;
}
.item__replies {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-bottom: 10px;
}
.item__replies > a {
  color: #ffffff;
}
.item__desc-info {
  min-width: 50%;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
}
.item__desc-info span {
  display: inline-block;
  background: #4E5AC0;
  border-radius: 5px;
  padding: 1.5px 10px;
}
.item__rating {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  padding: 1px 10px;
}
.item__rating img {
  margin-right: 7px;
  max-width: 15px;
  max-height: 20px;
}
.item__rating-green {
  background: #119E5B;
}
.item__rating-lightgreen {
  background: #68A41D;
}
.item__rating-yellow {
  background: #AEA817;
}
.item__rating-orange {
  background: #CD7713;
}
.item__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
}
.item__list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 48%;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-top: 10px;
}
.item__list-item:nth-of-type(2n+1) {
  margin-right: 4%;
}
.item__icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-right: 10px;
}
.item__info {
  background: #373F80;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.item__info + .item__info {
  border-top: 3px solid #404A9B;
}
.item__info-block {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  margin-right: 25px;
}
.item__info-block img {
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-right: 10px;
}
.item__info-block_important {
  color: #FFCD4B;
}
.item__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.item__prices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item__price {
  margin-right: 20px;
}
.item__price:not(:first-of-type) {
  padding-left: 20px;
  border-left: 2px solid #C4C4C440;
}
.item__price-title {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 2px;
}
.item__price-title > span {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
}
.item__price-content {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff80;
}
.item__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.item__link {
  height: 40px;
  width: 150px;
  min-width: 150px;
  margin-left: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  background: #6487EB;
  transition: all 0.2s ease-in-out;
}
.item__link:hover {
  background: #8DAAFE;
}
.item__button {
  height: 40px;
  width: 150px;
  min-width: 150px;
  margin-left: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  background: #4EB012;
  transition: all 0.2s ease-in-out;
}
.item__button:hover {
  background: #97DC52;
  box-shadow: 0px 0px 5px #97DC52;
}

.pick-up {
  position: relative;
  margin: 0 -30px 60px;
  background: linear-gradient(104.27deg, #6487EB 0%, #4B71F4 94.33%);
}
.pick-up__image {
  position: absolute;
}
.pick-up__image-flower-small {
  bottom: 63.5%;
  left: 5%;
}
.pick-up__image-flower-big {
  bottom: 0;
  left: 0;
}
.pick-up__image-baggage {
  bottom: 0;
  right: 0;
}
.pick-up__main {
  position: relative;
  z-index: 1;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pick-up__content {
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
}
.pick-up__content span {
  display: block;
}
.pick-up__button {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #fafafa;
  padding: 10px 35px;
  margin-top: 25px;
  background: #4EB012;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.pick-up__button:hover {
  background: #97DC52;
  box-shadow: 0px 0px 5px #97DC52;
}

.faq__item {
  display: block;
  padding: 23px;
  cursor: pointer;
}
.faq__item:not(:last-of-type) {
  border-bottom: 2px solid #ffffff80;
}
.faq__item input {
  display: none;
}
.faq__item input:checked + .faq__question {
  color: #97DC52;
}
.faq__item input:checked ~ .faq__answer {
  margin-top: 10px;
  max-height: 200px;
  overflow: auto;
}
.faq__question {
  display: block;
  font-size: 22px;
  line-height: 120%;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.faq__answer {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff80;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out, overflow 0s 0.21s;
  scrollbar-width: thin;
  scrollbar-color: #ffffff80 transparent;
}
.faq__answer::-webkit-scrollbar {
  background-color: #ffffff10;
  width: 2px;
}
.faq__answer::-webkit-scrollbar-thumb {
  background-color: #ffffff80;
  border-radius: 10px;
}

.items-slider__button {
  min-width: 300px;
  width: 300px;
  height: 48px;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6487EB;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  transition: background 0.2s ease-in-out;
}
.items-slider__button:hover {
  background: #8DAAFE;
}