@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@media screen and (max-width: 1230px) {
  .not-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .not-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 1231px) {
  .tablet {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hidden {
    display: none !important;
  }

  body {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-family: "NunitoSans";
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 15.63%, rgba(0, 0, 0, 0) 81.77%, rgba(0, 0, 0, 0.3) 100%), #252B4F;
  }

  .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-anchor: none;
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .content > div {
    width: 100%;
  }

  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: none;
  }

  .loader {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 15.63%, rgba(0, 0, 0, 0) 81.77%, rgba(0, 0, 0, 0.3) 100%), #252B4F;
  }

  .popups {
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100%;
    background: #00000060;
    opacity: 0;
    top: 150%;
    transition: opacity 0.2s ease-in-out, top 0s 0.2s;
  }
  .popups.active {
    top: 0;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  .title-1 {
    font-size: 30px;
    line-height: 120%;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
  }
  .title-1__green {
    color: #97dc52;
  }

  .video-play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: none;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
  }
  .video-play-btn > svg {
    max-width: 20vw;
  }
  .video-play-btn path:first-child {
    transition: fill 0.2s ease-in-out;
  }
  .video-play-btn:hover {
    opacity: 1;
  }
  .video-play-btn:hover path:first-child {
    fill: #FF0000;
  }

  .error-block {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px solid #D92C4B;
    border-radius: inherit;
    display: none;
  }
  .error-block span {
    position: absolute;
    bottom: 100%;
    left: 0;
    display: inline-block;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 115.5%;
    font-weight: 700;
    color: #ffffff;
    background-color: #D92C4B;
  }

  input {
    border: 1.5px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  input:focus {
    border-color: #97DC52;
  }
  input._error {
    border-color: #E23A58;
  }
  input._error + .error-block {
    display: block;
  }

  ._video {
    position: relative;
    cursor: pointer;
  }

  .swiper-button-disabled {
    opacity: 0;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "NunitoSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "NunitoSans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  -webkit-user-select: none;
          user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

@media screen and (max-width: 767px) {
  .header {
    background: #323967;
    white-space: nowrap;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
  .header__row {
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__burger {
    position: relative;
    height: 23px;
    flex-basis: 52px;
    padding: 0 20px 0 5px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background: transparent;
  }
  .header__burger span {
    display: block;
    height: 3px;
    border-radius: 3px;
    background: #ffffff;
  }
  .header__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__logo {
    font-size: 17px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) and (max-width: 400px) {
  .header__logo {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .header__phone {
    margin-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header__phone-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 0;
    color: #ffffff80;
  }
}
@media screen and (max-width: 767px) {
  .header__phone-link {
    font-size: 17px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
  }
}
@media screen and (max-width: 767px) {
  .header__contact {
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6487EB;
    border-radius: 10px;
    font-size: 17px;
    color: #ffffff;
    transition: background 0.2s ease-in-out;
  }
  .header__contact img {
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    margin-right: 0;
  }
  .header__contact:hover {
    background: #8DAAFE;
  }
}
@media screen and (max-width: 767px) {
  .nav {
    background: #4E5AC0;
    white-space: nowrap;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .nav__list {
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  .nav__item {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .nav__link {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff85;
    transition: all 0.2s ease-in-out;
  }
  .nav__link:hover {
    color: #ffffff;
  }
}
@media screen and (max-width: 767px) {
  .dropdown__block {
    display: flex;
    background: #404A9B;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 100%;
    overflow: hidden;
    z-index: -1000;
    opacity: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out, z-index 0s 0.3s;
  }
  .dropdown__block-large {
    max-width: 100%;
    right: 0;
  }
  .dropdown__list {
    display: flex;
    flex-direction: column;
  }
  .dropdown__list:nth-child(2) {
    margin-left: 20px;
  }
  .dropdown__list:nth-child(n+2) {
    margin-right: 20px;
  }
  .dropdown__link {
    display: flex;
    align-items: center;
    min-height: 0;
    height: 0;
    overflow: hidden;
    min-width: 160px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #ffffff85;
    transition: all 0.2s ease-in-out;
  }
  .dropdown__link:hover {
    color: #ffffff;
  }
  .dropdown:hover > .dropdown__block {
    z-index: 40;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  .dropdown:hover .dropdown__link {
    max-height: 30px;
    height: 30px;
  }
  .dropdown .burger__nav-link::after {
    content: url("../../img/icons/chevron-down-white.svg");
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
  }
  .dropdown:hover .burger__nav-link::after {
    transform: scale(1, -1);
  }
}
@media screen and (max-width: 767px) {
  .burger {
    position: fixed;
    z-index: 400;
    top: 66px;
    left: 0;
    width: 100%;
    height: calc(100% - 66px);
    background: #404A9B;
    transform: translateY(calc(151% + 66px));
    transition: transform 0.3s ease-in-out;
  }
  .burger.active {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out 0.2s;
  }
  .burger__main {
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    scrollbar-width: 2px;
    scrollbar-color: #ffffff;
  }
  .burger__main::-webkit-scrollbar {
    width: 2px;
    background: transparent;
  }
  .burger__main::-webkit-scrollbar-thumb {
    background: #ffffff;
    width: 2px;
    border-radius: 2px;
  }
  .burger__close {
    position: absolute;
    top: -66px;
    left: 0;
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #323967;
  }
  .burger__nav {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .burger__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  .burger__nav-item {
    padding: 20px 30px;
    border-bottom: 2px solid #ffffff05;
  }
  .burger__nav-link {
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff80;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .burger__nav-link span {
    margin-right: 10px;
  }
  .burger__nav-link img {
    transition: transform 0.3s ease-in-out;
  }
  .burger__nav-link.active img {
    transform: rotateX(180deg);
  }
  .burger__nav-drop {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  .burger__nav-droplist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  .burger__nav-dropitem {
    padding: 20px 20px 0;
  }
  .burger__nav-droplink {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #ffffff85;
  }
  .burger__nav-label {
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff80;
  }
  .burger__phone {
    text-align: center;
    margin-bottom: 20px;
  }
  .burger__phone-title {
    font-size: 17px;
    line-height: 120%;
    font-weight: 600;
    color: #ffffff80;
    margin-bottom: 10px;
  }
  .burger__phone-link {
    display: block;
    font-size: 22px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    padding-right: 10px;
  }
  .burger__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .burger__social-link {
    width: 40px;
    height: 40px;
  }
  .burger__social-link:not(:last-of-type) {
    margin-right: 30px;
  }
  .burger__social-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .burger__callback-btn {
    width: calc(100% - 60px);
    max-width: 340px;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    background: #4EB012;
    border-radius: 10px;
    font-size: 17px;
    line-height: 120%;
    font-weight: 600;
    color: #ffffff;
  }
}
@media screen and (max-width: 767px) {
  .footer-message {
    background: #404A9B;
  }
  .footer-message__row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0 20px;
  }
  .footer-message__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .footer-message__image {
    width: 115px;
    margin-bottom: 20px;
  }
  .footer-message__image > img {
    width: 100%;
  }
  .footer-message__block {
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-message__title {
    font-size: 22px;
    line-height: 120%;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .footer-message__content {
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff80;
  }
  .footer-message__right {
    position: relative;
    width: 100%;
    max-width: 340px;
    min-width: auto;
    height: auto;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .footer-message__form-block {
    position: relative;
    z-index: 1;
    height: 48px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .footer-message__form-block input {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 17px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .footer-message__form-block input:placeholder {
    color: #ffffff40;
  }
  .footer-message__right button {
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff;
    background: #6487EB;
    border-radius: 10px;
    transition: background 0.2s ease-in-out;
  }
  .footer-message__right button:hover {
    background: #8DAAFE;
  }

  .footer {
    background: #323967;
  }
  .footer__row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 20px;
  }
  .footer__left {
    flex-grow: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .footer__top {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .footer__phone {
    width: 280px;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__phone-title {
    font-size: 17px;
    line-height: 16px;
    font-weight: 600;
    color: #ffffff80;
    margin-bottom: 10px;
  }
  .footer__phone-link {
    font-size: 22px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
  }
  .footer__callback-btn {
    width: 100%;
    height: 48px;
    max-width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff;
    padding: 0;
    background: #4EB012;
    border-radius: 10px;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
  }
  .footer__callback-btn:hover {
    background: #97DC52;
    box-shadow: 0px 0px 5px #97DC52;
  }
  .footer__social-title {
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff80;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer__social-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__social-link {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }
  .footer__social-link:not(:last-of-type) {
    margin-right: 40px;
  }
  .footer__social-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .footer__right {
    width: 100%;
    min-width: auto;
    border-left: none;
    padding-left: 0;
  }
  .footer__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .footer__item {
    min-width: 250px;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__link {
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff85;
    transition: color 0.2s ease-in-out;
  }
  .footer__link:hover {
    color: #ffffff;
  }
}
@media screen and (max-width: 767px) {
  .popup-callback {
    position: absolute;
    right: 0;
    height: 100%;
    width: 416px;
    max-width: 100%;
    background: #404A9B;
    padding: 20px 0;
    overflow: hidden;
    transform: translateX(101%);
    transition: transform 0.3s ease-in-out;
  }
  .popup-callback.active {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out 0.2s;
  }
  .popup-callback__close {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    background: transparent;
    cursor: pointer;
  }
  .popup-callback__tabs {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  .popup-callback__tab {
    flex-grow: 1;
    cursor: pointer;
  }
  .popup-callback__tab span {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 20px;
    border-bottom: 3px solid #ffffff10;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
  }
  .popup-callback__tab input[type=radio] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    left: -100vw;
  }
  .popup-callback__tab input[type=radio]:checked + span {
    border-color: #84CF61;
  }
  .popup-callback__block {
    position: relative;
  }
  .popup-callback__tab-content {
    padding: 0 30px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    max-height: calc(100vh - 150px);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #ffffff80 transparent;
  }
  .popup-callback__tab-content::-webkit-scrollbar {
    background-color: #ffffff10;
    width: 2px;
  }
  .popup-callback__tab-content::-webkit-scrollbar-thumb {
    background-color: #ffffff80;
    border-radius: 10px;
  }
  .popup-callback__tab-content:first-of-type {
    opacity: 0;
    transform: translate(-100%);
  }
  .popup-callback__tab-content:last-of-type {
    opacity: 0;
    transform: translate(100%);
  }
  .popup-callback__tab-content.active {
    opacity: 1;
    transform: none;
  }
  .popup-callback__content {
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    color: #ffffff85;
    margin-bottom: 30px;
  }
  .popup-callback__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .popup-callback__form input {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 48px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff;
  }
  .popup-callback__form input::placeholder {
    color: #ffffff40;
  }
  .popup-callback__form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    background: #4EB012;
    border-radius: 10px;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff;
  }
  .popup-callback__form-block {
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .popup-callback__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .popup-callback__item {
    margin-bottom: 30px;
  }
  .popup-callback__link {
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff;
  }
  .popup-callback__link img {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .popup-thanks {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    padding: 50px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(104.27deg, #6487EB 0%, #4B71F4 94.33%);
    border-radius: 10px;
    opacity: 0;
    transform: translate(-50%, -50%) translateX(100vw);
  }
  .popup-thanks.active {
    transform: translate(-50%, -50%) translateX(0);
    opacity: 1;
  }
  .popup-thanks__close {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: auto;
    right: 10px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease-in-out;
  }
  .popup-thanks__close:hover {
    background: rgba(255, 255, 255, 0.6);
  }
  .popup-thanks__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  .popup-thanks__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  .popup-thanks__title {
    font-size: 26px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
  }
  .popup-thanks__content {
    font-size: 20px;
    line-height: 120%;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .popup-error {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    padding: 50px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(104.27deg, #6487EB 0%, #4B71F4 94.33%);
    border-radius: 10px;
    opacity: 0;
    transform: translate(-50%, -50%) translateX(100vw);
  }
  .popup-error.active {
    transform: translate(-50%, -50%) translateX(0);
    opacity: 1;
  }
  .popup-error__close {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: auto;
    right: 10px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease-in-out;
  }
  .popup-error__close:hover {
    background: rgba(255, 255, 255, 0.6);
  }
  .popup-error__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  .popup-error__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  .popup-error__title {
    font-size: 26px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .main-content {
    position: relative;
    z-index: 10;
    max-width: none;
    padding: 0;
    background: none;
    border-radius: 10px;
    margin-bottom: 0px;
    width: calc(100vw - 30px);
  }
  .main-content > .title-1 {
    margin-top: 20px;
  }

  .content-breaker {
    margin: 10px 0;
  }
  .content-breaker img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media screen and (max-width: 767px) {
  .breadcrumbs {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .content-block {
    background: #373F80;
    padding: 20px 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content-block h1 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .content-block h2 {
    font-size: 30px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .content-block h3 {
    font-size: 22px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .content-block h4, .content-block h5, .content-block h6 {
    font-size: 22px;
    line-height: 120%;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .content-block p {
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff80;
    margin-bottom: 10px;
  }
  .content-block p.small {
    font-size: 12px;
    line-height: 14px;
  }
  .content-block > p {
    margin-bottom: 20px;
  }
  .content-block .float {
    margin-bottom: 20px;
  }
  .content-block .float img {
    float: left;
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: top center;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .content-block .float p {
    margin-bottom: 20px;
  }
  .content-block .float + * {
    clear: both;
  }
  .content-block img {
    border-radius: 10px;
  }
  .content-block > img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
  }
  .content-block strong {
    font-weight: 700;
    color: #ffffff;
  }
  .content-block ul {
    padding: 0 0 10px 20px;
  }
  .content-block ul li {
    padding-left: 10px;
    padding-bottom: 10px;
    list-style-type: disc;
    font-size: 17px;
    line-height: 120%;
    font-weight: 600;
    color: #ffffff80;
  }
  .content-block ol {
    padding: 0 0 10px 20px;
  }
  .content-block ol li {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    line-height: 120%;
    font-weight: 600;
    color: #ffffff80;
  }
  .content-block a {
    color: #4EB012;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }
  .content-block a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  .content-block .important {
    background: #6E51D9;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
  }
  .content-block .important-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .content-block .important .info {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
  }
  .content-block .important .info-block {
    display: block;
    position: absolute;
    white-space: nowrap;
    bottom: calc(100% + 18px);
    left: 50%;
    background: #7383C5;
    border-radius: 10px 10px 10px 0px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    display: none;
    cursor: initial;
  }
  .content-block .important .info-block::after {
    content: url("../../img/products/common/room-info-tail.svg");
    position: absolute;
    top: 95%;
    left: 0;
  }
  .content-block .important .info-block span {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-size: 700;
    color: #ffffff;
  }
  .content-block .important .info-block span strong {
    font-size: 14px;
    line-height: 20px;
  }
  .content-block .important .info:hover .info-block {
    opacity: 1;
    display: block;
  }
  .content-block .gallery {
    margin-bottom: 15px;
  }
  .content-block .gallery__big {
    margin-bottom: 15px;
  }
  .content-block .gallery__big .gallery__item {
    position: relative;
    display: block;
    height: 50vw;
  }
  .content-block .gallery__big .gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .content-block .gallery__big .gallery__item span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 87.15%, #000000 100%);
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    color: #ffffff;
  }
  .content-block .gallery__items {
    padding-bottom: 10px;
    overflow-x: auto;
    scrollbar-width: 2px;
    scrollbar-color: #ffffff80;
    display: flex;
  }
  .content-block .gallery__items::-webkit-scrollbar {
    width: 0;
    height: 2px;
    background: #ffffff10;
  }
  .content-block .gallery__items::-webkit-scrollbar-thumb {
    width: 0;
    height: 2px;
    background: #ffffff80;
    border-radius: 2px;
  }
  .content-block .gallery__items .gallery__item {
    position: relative;
    display: block;
    flex: 0 0 calc((100% - 30px)/3);
  }
  .content-block .gallery__items .gallery__item:not(:last-child) {
    margin-right: 15px;
  }
  .content-block .gallery__items .gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
}
@media screen and (max-width: 500px) {
  .content-block p {
    font-size: 14px;
    line-height: 20px;
  }
  .content-block .float img {
    width: 45vw;
    height: 45vw;
  }
  .content-block ul {
    padding-left: 20px;
  }
  .content-block ul li {
    padding-left: 0;
    font-size: 14px;
    line-height: 20px;
  }
  .content-block ol {
    padding-left: 20px;
  }
  .content-block ol li {
    padding-left: 0;
    font-size: 14px;
    line-height: 20px;
  }
  .content-block .gallery {
    margin-bottom: 15px;
  }
  .content-block .gallery__big {
    margin-bottom: 10px;
  }
  .content-block .gallery__items .gallery__item {
    flex: 0 0 calc((100% - 20px)/3);
  }
  .content-block .gallery__items .gallery__item:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .item {
    margin-bottom: 20px;
    background: #404A9B;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
  }
  .item__main {
    padding: 0;
    display: block;
  }
  .item__main + * {
    border-top: 2px solid #ffffff10;
  }
  .item__main + .item__bottom {
    border-top: 2px solid #ffffff10;
  }
  .item__left {
    width: 100%;
    min-width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    margin-right: 0;
  }
  .item__images {
    position: relative;
    border-radius: 10px 10px 0 0;
    height: 180px;
    overflow: hidden;
  }
  .item__images .swiper-wrapper {
    align-items: flex-start;
  }
  .item__images > span {
    position: absolute;
    z-index: 2;
    top: 5px;
    bottom: auto;
    left: 5px;
    display: inline-block;
    padding: 2px 6px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 3px;
    background: #4F75FC;
  }
  .item__images > span.popular {
    background: #D92C4B;
  }
  .item__images > span.important {
    background: #E3871B;
  }
  .item__images > span.econom {
    background: #68A41D;
  }
  .item__images > span.travel {
    background: #6E51D9;
  }
  .item__images > span.note {
    background: #4F75FC;
  }
  .item__image {
    display: block;
    height: 100%;
    width: auto;
  }
  .item__image img {
    width: auto;
    height: 100%;
    object-fit: initial;
    border-radius: 0;
  }
  .item__arrow {
    display: none;
  }
  .item__right {
    margin: 20px;
    flex-grow: 1;
  }
  .item__title {
    font-size: 22px;
    line-height: 120%;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .item__title > a {
    color: #ffffff;
  }
  .item__desc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #ffffff10;
  }
  .item__address {
    min-width: 100%;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff80;
    margin-bottom: 15px;
  }
  .item__address span {
    display: block;
  }
  .item__address span:not(:last-of-type) {
    margin-right: 0;
  }
  .item__replies {
    order: -1;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff80;
    margin-bottom: 15px;
  }
  .item__replies > a {
    color: #ffffff;
  }
  .item__desc-info {
    min-width: 100%;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .item__desc-info span {
    display: inline-block;
    background: #4E5AC0;
    border-radius: 5px;
    padding: 1.5px 10px;
    margin-bottom: 15px;
  }
  .item__rating {
    order: -2;
    margin-right: 10px;
    margin-bottom: 15px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 17px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    padding: 1px 10px;
  }
  .item__rating img {
    margin-right: 5px;
    max-width: 24px;
    max-height: 24px;
  }
  .item__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
  }
  .item__list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 48%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #ffffff80;
    margin-top: 15px;
  }
  .item__list-item:nth-of-type(2n+1) {
    margin-right: 4%;
  }
  .item__icon {
    width: 18px;
    min-width: 18px;
    height: 18px;
    margin-right: 10px;
  }
  .item__info {
    background: none;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 20px;
    padding: 15px 0;
    border-bottom: 2px solid #ffffff10;
  }
  .item__info + .item__info {
    border-top: none;
  }
  .item__info-block {
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff80;
    margin-right: 0;
  }
  .item__info-block:not(:last-child) {
    margin-bottom: 15px;
  }
  .item__info-block img {
    width: 18px;
    min-width: 18px;
    height: 18px;
    margin-right: 10px;
  }
  .item__info-block_important {
    color: #FFCD4B;
  }
  .item__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0;
    margin: 0 20px;
  }
  .item__prices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .item__price {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .item__price:not(:first-of-type) {
    padding-left: 0;
    border-left: none;
  }
  .item__price-title {
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 2px;
  }
  .item__price-title > span {
    font-size: 22px;
    line-height: 120%;
    font-weight: 700;
  }
  .item__price-content {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff80;
  }
  .item__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item__link {
    height: 48px;
    width: 100%;
    min-width: auto;
    max-width: 340px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    background: #6487EB;
    transition: all 0.2s ease-in-out;
  }
  .item__link:hover {
    background: #8DAAFE;
  }
  .item__button {
    height: 48px;
    width: 100%;
    min-width: auto;
    max-width: 340px;
    margin-left: 0;
    margin-bottom: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    background: #4EB012;
    transition: all 0.2s ease-in-out;
  }
  .item__button:hover {
    background: #97DC52;
    box-shadow: 0px 0px 5px #97DC52;
  }
  .item.item-great .item__rating {
    background: #119E5B;
  }
  .item.item-verygood .item__rating {
    background: #68A41D;
  }
  .item.item-good .item__rating {
    background: #AEA817;
  }
  .item.item-bad .item__rating {
    background: #CD7713;
  }
  .item.item-verybad .item__rating {
    background: #D92C4B;
  }
}
@media screen and (max-width: 500px) {
  .item__list-item {
    width: 100%;
    font-size: 17px;
    line-height: 27px;
  }
  .item__list-item:nth-of-type(2n+1) {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .popup-choice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 50px 10px 30px 10px;
    background: linear-gradient(103.16deg, #4B71F4 31.8%, #6487EB 100%);
    border-radius: 10px;
    opacity: 0;
    transform: translate(-50%, -50%) translateX(100vw);
  }
  .popup-choice.active {
    transform: translate(-50%, -50%) translateX(0);
    opacity: 1;
  }
  .popup-choice__close {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: auto;
    right: 10px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease-in-out;
  }
  .popup-choice__close:hover {
    background: rgba(255, 255, 255, 0.6);
  }
  .popup-choice__title {
    font-size: 26px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
  }
  .popup-choice__content {
    font-size: 17px;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
  }
  .popup-choice__form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .popup-choice__block {
    width: 300px;
    margin: 0 0 15px;
  }
  .popup-choice__block-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 5px;
  }
  .popup-choice__input {
    position: relative;
    width: 100%;
  }
  .popup-choice__input input {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 48px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff;
  }
  .popup-choice__input input::placeholder {
    color: #ffffff40;
  }
  .popup-choice__submit {
    width: 300px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4EB012;
    border-radius: 10px;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #ffffff;
  }
}