.header
    background: #323967
    white-space: nowrap
    &__row
        height: 80px
        display: flex
        justify-content: space-between
        align-items: center
    &__burger
    &__left
        display: flex
        flex-direction: column
        align-items: flex-start
    &__logo
        font-size: 30px
        line-height: 120%
        font-weight: 700
        color: $white
    &__right
        display: flex
        justify-content: flex-end
        align-items: center
    &__phone
        margin-right: 35px
    &__phone-title
        font-size: 14px
        line-height: 20px
        font-weight: 700
        margin-bottom: 5px
        color: #ffffff80
    &__phone-link
        font-size: 17px
        line-height: 120%
        font-weight: 700
        color: $white
    &__contact
        min-width: 200px
        width: 200px
        height: 40px
        display: flex
        justify-content: center
        align-items: center
        background: #6487EB
        border-radius: 10px
        font-size: 17px
        color: $white
        transition: background 0.2s ease-in-out
        & img
            width: 24px
            min-width: 24px
            max-width: 24px
            height: 24px
            margin-right: 10px
        &:hover
            background: #8DAAFE

.nav
    background: #4E5AC0
    white-space: nowrap
    &__list
        height: 48px
        display: flex
        justify-content: space-around
        align-items: center
        position: relative
    &__item
        padding: 0 20px
        height: 100%
        display: flex
        align-items: center
    &__link
        font-size: 17px
        font-weight: 600
        color: #ffffff85
        transition: all 0.2s ease-in-out
        &:hover
            color: $white

.dropdown
    &__block
        display: flex
        background: #404A9B
        border-radius: 0px 0px 10px 10px
        position: absolute
        top: 100%
        overflow: hidden
        z-index: -1000
        opacity: 0
        transition: opacity 0.3s ease-in-out, z-index 0s 0.3s
        &-large
            max-width: 100%
            right: 0
    &__list
        display: flex
        flex-direction: column
        &:nth-child(2)
            margin-left: 100px
        &:nth-child(n+2)
            margin-right: 100px
    &__item
    &__link
        display: flex
        align-items: center
        min-height: 0
        height: 0
        overflow: hidden
        min-width: 200px
        padding: 0 20px
        font-size: 17px
        line-height: 20px
        font-weight: 600
        color: #ffffff85
        transition: all 0.2s ease-in-out
        &:hover
            color: $white
    &:hover > &__block
        z-index: 40
        opacity: 1
        transition: opacity 0.2s ease-in-out
    &:hover .dropdown__link
        max-height: 48px
        height: 48px