.interesting
    &__title
    &__items
    &__button
        min-width: 300px
        width: 300px
        height: 48px
        margin: 30px auto 0
        display: flex
        justify-content: center
        align-items: center
        background: #6487EB
        border-radius: 10px
        font-size: 17px
        font-weight: 600
        color: $white
        transition: background 0.2s ease-in-out
        &:hover
            background: #8DAAFE