.product-main
    display: flex
    justify-content: space-between
    align-items: flex-start
    position: relative
    & > .main-content
        width: calc(100% - 270px - 30px)
        overflow: hidden
        padding-top: 0
    &__aside
        position: -webkit-sticky
        position: sticky
        top: 20px
        width: 270px
        min-width: 270px
        max-width: 270px
    &__aside-block
        padding: 20px
        background: #373F80
        border-radius: 10px
        margin-bottom: 20px
    &__aside-content
        font-size: 14px
        line-height: 20px
        font-weight: 700
        color: #ffffff60